.credit-card {

    .credit-card--row {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 16px;

        img {
            height: 20px;
            width: auto;
            float: left;
            margin-right: 15px;
        }
        h3 {
            float: left !important;
            margin: 0;
            font-size: 16px;

            strong {
                font-weight: 600;
            }
        }

        .card-exp {
            display: block;
            float: left;
            clear: both;
            margin-top: 7px;
            font-size: 13px;
            color: var(--font-color-light);
            font-weight: 400;

            .badge {
                margin-top: -1px;
                float: right;
                border-radius: 50px;
            }
        }

        .btn {
            float: right;
            margin-top: -13px;
            font-size: 12px;
        }

    }

    #addCard {
        position: relative;
        width: 100%;

        .card-logos {
            max-width: 90px;
            float: right;
            margin-top: 23px;
        }
    }


}